.container {
  width: 95%;
  margin: 0 auto;
  color: white;
  letter-spacing: 0.6px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,   ;
}
.peliculas-header{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
  color: #ccc;
}
.search-input{
  background-color: rgb(0, 0, 0);
  color: #dcd5d5;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 14px;
  padding: 0 5px;
  margin: 0 5px;
  height: 5vh;
  align-content: center;
}
.search-button{
  color: #ccc;
  border: none;
  border-radius: 50%;
  margin: 10px;
  font-size: 14px;
  padding: 0 5px;
  margin: 0 5px;
  height: 5vh;
  align-content: center;
}

.movie-list {
  width: 100%;
  padding: 5px 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.movie-card {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 22vh;
  width: 27vw;
}

.movie-poster {
  height: 22vh;
  width: 27vw;
  transition: opacity 0.3s ease-in-out;
}
.movie-info {
  position: absolute;
  padding: 1px 3px;
}

.movie-details {
  position: absolute;
  top: 0;
  left: 0;
 width: 100%;
 height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(114, 164, 230);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  border-radius: 10px;
}
.movie-year {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 2px;
  font-size: 10px;
  border-radius: 3px;
}

.movie-card:hover .movie-poster {
  opacity: 0;
}

.movie-card:hover .movie-details {
  opacity: 1;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-details {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 100%;
}

.movie-title {
  margin: 5px 7px;
  font-size: 8px;
  margin-bottom: 3px;
}

.movie-year-details {
  margin: 5px 7px;
  font-size: 8px;
  margin-bottom: 0px;
}

.movie-overview {
  margin: 5px 1px 5px 7px;
  font-size: 9px;
  width: 90%;
  letter-spacing: 0.5px;
}

/*para pantallas grandes*/
@media (min-width: 700px) {
  .container {
    width: 55%;
    margin: 0 auto;
    color: white;
    letter-spacing: 0.6px;
  }

  .movie-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);

  }

  .movie-card {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 30vh;
    width: 10vw;
  box-shadow: 0 0 0.5px wheat;
  }

  .movie-poster {
    width: 80%;
    height: 80%;
    transition: opacity 0.3s ease-in-out;
  }

  .movie-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    width: 10vw;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(114, 164, 230);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    border-radius: 10px;
  }
  .movie-year {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px 2px;
    font-size: 10px;
    border-radius: 3px;
  }

  .movie-card:hover .movie-poster {
    opacity: 0;
  }

  .movie-card:hover .movie-details {
    opacity: 1;
  }

  .movie-poster {
    height: 100%;
    width: 100%;
  }

  .movie-details {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }

  .movie-title {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .movie-year-details {
    font-size: 10px;
  }

  .movie-overview {
    font-size: 11px;
    margin-bottom: 8px;
  }
}
