.container-error {
    margin: 0 auto;
    height: 60vh;
    width: 90vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(3, 80, 125, 0.797);
}
.imagen-error{
    margin: 0 auto;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 15px #027595f2);
}
.aviso-error {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 25px 0;
    color: #3e98cbf2;
}
@media (min-width: 900px){
    .container-error {
        margin: 50px auto;
        box-shadow: 0 0 10px rgba(3, 80, 125, 0.797);
        width: 50%;
        height: 50%;
    }
    .imagen-error{
        width: 15vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0 0 15px rgba(2, 117, 149, 0.95));
    }
    .aviso-error {
       
    }
}