.container-home {
    width: 90%;
    background-color: black;
    margin: 0 auto;
    color: white;
}

.lista-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
}
.pelicula-card {
    margin: 5px 5px;
    width: 27vw;
    height: 22vh;
}
.imagen-card {
    width: 98%;
    height: 20vh;
}
.titulo-card {
    color: aliceblue;
    font-size: 8px;
}