.container-home {
    width: 90%;
    background-color: black;
    margin: 0 auto;
    color: white;
}

.lista-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    place-content: center;
}
.pelicula-card {
    width: 30vw;
    height: 25vh;
}
.imagen-card {
    width: 98%;
    height: 23vh;
}
.titulo-card {
    color: aliceblue;
    font-size: 8px;
}