.container-novelas {
    width: 98%;
    margin: 0 auto;
}
.novela-titulo {
    font-size: 20px;
    color: #5acbff;
}
.novela-list {
    margin: 0 auto;
    background-color: #010405;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    
}
.novela-card {
    display: contents;
    justify-content: center;
    width: 100%;
    height: 40vh;
    position: relative;
    overflow: hidden;
}
.novela-poster {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: opacity 0.4 ease-in-out;
}
.novela-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.novela-card:hover .novela-info,
.novela-card:hover .novela-details {
    opacity: 1;
}


.novela-year {
    position: absolute;
    font-size: 13px;
    margin: 5px 0;
    color: white;
}
.novela-title {
    font-size: 11px;
  margin: 5px 10px;
  color: #5acbff;
}
.novela-year-details {
    font-size: 9px;
  margin: 5px 10px;
  color: #ddd;
}
.novela-overview {
    font-size: 10;
  color: #ccc;
  margin-top: 5px;
}