/* Página de simulación de reproducción */
.container-reproductor {
  width: 100%;
    padding: 20px;
    text-align: center;
  }
.video-reproductor{
  margin: 0 auto;
  width: 70%;
  
}
.imagen-reproductor {
  width: 60%;
  height: auto;

}
  .reproducir-page p {
    font-size: 1.2em;
    color: #555;
  }

  @media (min-width: 900px){
    .container-reproductor {
      width: 100%;
      padding: 20px;
      text-align: center;
      }
    .video-reproductor{
      margin: 0 auto;
      width: 40%;
      
    }
    .imagen-reproductor {
      width: 50%;
      height: auto;
    
    }
      .reproducir-page p {
        font-size: 1.2em;
        color: #555;
      }
  }