/* Página de simulación de reproducción */
.container-reproductor {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.card-reproductor {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.video-reproductor {
  margin: 0 auto;
  width: 70%;
}

.imagen-reproductor {
  width: 60%;
  height: auto;
}

.overview-reproductor {
  margin: 25px auto;
  width: 90%;
  font-size: 1rem;
  color: #dee0e1;
}

/* Estilos específicos para pantallas grandes */
@media (min-width: 900px) {
  .video-reproductor {
    width: 40%;
  }

  .imagen-reproductor {
    width: 50%;
  }

  .overview-reproductor {
    width: 50%;
  }
}
