/* Página de simulación de reproducción */
.container-reproductor {
  width: 100%;
    padding: 20px;
    text-align: center;
  }
.video-reproductor{
  margin: 0 auto;
  width: 70%;
  
}
.imagen-reproductor {
  width: 60%;
  height: auto;

}
  .overview-reproductor {
    margin: 25px auto;
    width: 90%;
    font-size: 01rem;
    color: #dee0e1;
  }

  @media (min-width: 900px){
    .container-reproductor {
      width: 100%;
      padding: 20px;
      text-align: center;
      }
    .video-reproductor{
      margin: 0 auto;
      width: 40%;
      
    }
    .imagen-reproductor {
      width: 50%;
      height: auto;
    
    }
    .overview-reproductor {
      margin: 25px auto;
      width: 50%;
      font-size: 01rem;
      color: #dee0e1;
    }
  }