/* Estilos para dispositivos móviles */
.container-series {
    padding-top: 60px;
    width: 98%;
    height: auto;
    background-color: black;
    color: white;
    margin: 0 auto;
}

.title-series {
    color: #5acbff;
    font-size: 35px;
}


.series-list {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    
}

.series-card {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
}

.series-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.series-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px 2px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.series-card:hover .series-details {
    opacity: 1;
}

.series-info {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    font-size: 12px;
    border-radius: 3px;
    position: absolute;
    margin: 4px 5px;
    color: #ddd;
}

.series-year {
    position: absolute;
    background-color: rgb(16, 16, 16);
    padding: 2px 3px;
    margin: 5px;
    border-radius: 3px;
    font-size: 12px;
}

.series-title {
    font-size: 12px;
    margin: 5px;
    color: #5acbff;
}

.series-year-details {
    font-size: 12px;
    margin: 5px;
}

.series-overview {
    font-size: 12px;
    margin: 10px 5px;
    letter-spacing: 0.6px;
    height: 17vh;
}

.play-button-series {
    font-size: 12px;
    display: inline-block;
    padding: 4px 5px;
    margin: 3px 5px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 20vw;
}

.play-button-series:hover {
    background-color: #0056b3;
}

/* Media queries */
@media (min-width: 680px) {
    .container-series {
        width: 100%;
        margin: 0 auto;
    }
    .title-series {
        
        font-size: 45px;
    }


    .series-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .series-info {
        padding: 10px 5px;
        font-size: 12px;
    }

    .series-title {
        font-size: 12px;
        margin: 5px 10px;
    }

    .series-year-details,
    .series-overview {
        padding: 10px 10px;
    }

    .play-button-series {
        font-size: 12px;
        padding: 5px 15px;
        width: 10vw;
    }
}

@media (min-width: 1020px) {
    .title-series {
        font-size: 35px;
    }

    .series-list {
        width: 75%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .series-title {
        font-size: 14px;
    }

    .series-year-details,
    .series-overview {
        font-size: 11px;
        margin: 5px 5px;
    }

    .play-button-series {
        font-size: 12px;
        padding: 5px 12px;
        width: 10vw;
    }
}

@media (min-width: 1200px) {
    .header-series {
        padding: 0px 22vw;
    }

    .series-list {
        width: 65%;
    }

    .play-button-series {
        width: 8vw;
    }
}
